body{
	margin:0 auto;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	min-width:950px;
}

a{
	text-decoration:none;
	color:#666;
}

/*   Header Style Begins   */
header{
	width:100%;
	height:75px;:left;
	border-bottom: #F88421 solid 3px;
}
header ol{
	list-style:none;
	width:800px;
	float:right;
	height:20px;
	margin:0 0 25px 0;
	padding:0;
	text-align:center;
	line-height:22px;
}
header ol li{
	display:inline;
	height:100%;
	float:right;
	padding:0 10px;
	font-size:12px;
	border-right: 2px solid #F88421;
	text-transform:uppercase;
}
header .help_link {
	background: url(../../images/help-icon.png) no-repeat 5px 0px;
	border-right: 0;
	font-weight: bold;
}
header .help_link a {
	color:#F88421;
    padding-left:18px;
}

header ul{
	list-style:none;
	width:800px;
	float:right;
	height:30px;
	margin:0;
	padding:0;
	text-align:center;
	line-height:30px;
	clear:right;
}
header ul li{
	display:inline;
	height:100%;
	float:right;
	padding:0 10px;
	border-right:#F88421 solid 1px;
}
header li a{
	color:#666;
}

header .current {
	background:#F88421;
}
header .current a{
	color:#fff;
}

header .home a {
	width:35px;
	height:100%;
	float:left;
	background:url(../../images/home-icon.png) no-repeat center 3px;
}
header .ha {
	background:#F88421;
}
header .ha a {
	background:url(../../images/home-icon.png) no-repeat center -28px;
}

@media all and (max-width: 1070px) {
	header ol, header ul { width:750px;}
}

.catalog_submenu{
	width:auto;
	height:auto;
	position:absolute;
	margin: 0 0 0 -10px;
	display:none;
	z-index:2;
	background:#fff;
	padding:3px;
	box-shadow:0 0 10px 2px #ccc;
}
.catalog_submenu li{
	width:90%;
	border:0;
	border-bottom: solid 1px #eee;
	padding:3px 5%;
	text-align:left;
}
.catalog_submenu li a{
	color:#333;
}
.has_child:hover > ul{
	display: block;
}

/*   Header Style Ends   */

/*   Main Container Style Begins   */
section#container{
	width:100%;
	height:auto;
	float:left;
	min-height:520px;
}
/*   Main Container Style Ends   */

/*   Footer Style Begins   */
footer{
	width:98%;
	height:25px;
	float:left;
	padding:5px 1%;
	border-top: #F88421 solid 3px;
}
.copy{
	width: 50%;
	float: left;
}
.credit{
	width: 50%;
	float: right;
	text-align:right;
}
/*   Footer Style Ends   */



/*****   Loader style= Begins   *****/
#loader {
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	text-align:center;
	vertical-align:middle;
	background:rgba(0,0,0,0.6);
}
#circleG {
	width:116.66666666666667px;
	margin:22% auto;
}
.circleG {
	background-color:#FFFFFF;
	float:left;
	height:25px;
	margin-left:13px;
	width:25px;
	-moz-animation-name:bounce_circleG;
	-moz-animation-duration:1.2000000000000002s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:linear;
	-moz-border-radius:17px;
	-webkit-animation-name:bounce_circleG;
	-webkit-animation-duration:1.2000000000000002s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:linear;
	-webkit-border-radius:17px;
	-ms-animation-name:bounce_circleG;
	-ms-animation-duration:1.2000000000000002s;
	-ms-animation-iteration-count:infinite;
	-ms-animation-direction:linear;
	-ms-border-radius:17px;
	-o-animation-name:bounce_circleG;
	-o-animation-duration:1.2000000000000002s;
	-o-animation-iteration-count:infinite;
	-o-animation-direction:linear;
	-o-border-radius:17px;
	animation-name:bounce_circleG;
	animation-duration:1.2000000000000002s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	border-radius:17px;
}
#circleG_1 {
	-moz-animation-delay:0.24000000000000005s;
	-webkit-animation-delay:0.24000000000000005s;
	-ms-animation-delay:0.24000000000000005s;
	-o-animation-delay:0.24000000000000005s;
	animation-delay:0.24000000000000005s;
}
#circleG_2 {
	-moz-animation-delay:0.56s;
	-webkit-animation-delay:0.56s;
	-ms-animation-delay:0.56s;
	-o-animation-delay:0.56s;
	animation-delay:0.56s;
}
#circleG_3 {
	-moz-animation-delay:0.72s;
	-webkit-animation-delay:0.72s;
	-ms-animation-delay:0.72s;
	-o-animation-delay:0.72s;
	animation-delay:0.72s;
}
 @-moz-keyframes bounce_circleG {
 0% {
}
 50% {
 background-color:#000000
}
 100% {
}
}
 @-webkit-keyframes bounce_circleG {
 0% {
}
 50% {
 background-color:#000000
}
 100% {
}
}
 @-ms-keyframes bounce_circleG {
 0% {
}
 50% {
 background-color:#000000
}
 100% {
}
}
 @-o-keyframes bounce_circleG {
 0% {
}
 50% {
 background-color:#000000
}
 100% {
}
}
 @keyframes bounce_circleG {
 0% {
}
 50% {
 background-color:#000000
}
 100% {
}
}
/*****   Loader style= Ends   *****/



ul, ol{
	list-style:none;
	margin:0;
	padding:0;
}

.spacer{
	width:100%;
	height:10px;
	float:left;
}

img{
	border:0;
}

.btn{
	background:#e5e5e5;
	border:0;
	padding:5px 8px;
	color:#555;
	border-bottom:#9E7149 solid 2px;
	cursor:pointer;
}
.btn:hover{
	border-top:#fff solid 2px;
	border-bottom:0;
}
.active{
	background:#F88421;
	color:#fff;
}
.action_block{
	margin: 20px 5%;
	text-align:center;
	float:left;
	width:90%;
	height:40px;
	line-height:40px;
}


/*   Orders Lookup Style Begins   */
#view_order{
	margin:1% auto;
	display:block;
	height:auto;
	text-align:center;
	padding:10px;
	font-size:12px;
	width:98%;
}
/*   Orders Lookup Style Ends   */

/*   Orders Menu Style Begins   */
ul#orders_menu {
   list-style:none;
   margin-top: 30px;
   position:relative;
   width:100%;
   text-align:center;
   height:auto;
}
#orders_menu li{
	display:inline-block;
}
#orders_menu a{
	text-decoration:none;
	text-align:center;
	color:#666;
	padding:5px 10px;
	border:1px solid #999;
	border-radius:3px;
	margin:0 5px;
	text-transform:uppercase;
	font-size:12px;
	background:#e4e4e4;
	display:block;
}
#orders_menu a:hover {
	background-color:#F88421;
	border:1px solid #F88421;
	color:#fff;
}
#orders_menu a.active{
	background-color:#F88421;
	border:1px solid #F88421;
	color:#fff;
}
/*   Orders Menu Style Ends   */

/* Order table Style Begin */
.orders_wrapper{
	border-collapse:collapse;
	border:solid 1px#dddddd;
	width:96%;
	margin:20px auto 40px;
	max-width:1000px;
}

.orders_wrapper td{
	border: solid 1px #ddd;
	padding:10px;
}

.customer_info, .lead_info{
	width:100%;
	border:0;
	border-collapse:collapse;
	margin:0 auto;
}
.customer_info td{
	padding:6px;
	border:0;
	border-bottom:#d4d4d4 dashed 1px;

}
input#job_id{
	border:solid 1px #999;
	width:40%;
	padding:2px 5px;
}
.lead_info td{
	border:0;
	padding:6px;
}
#item_title{
	background:#F0F0F0;
}
li.each_vendor{
	cursor:pointer;
	border-right: 1px solid #F88421;
	float: left;
	padding: 0 10px;
	text-transform: uppercase;
}
li.each_vendor:last-child{
	border:0;
}
.sent_order{
	color: #969696;
	text-decoration:underline;
}
.manufacutur_active{
	color:#F88421;
}
/* Order table Style Ends */


/*   Text Editor Style Begins   */
.nicEdit-main ul{
	list-style: inside;
}

.nicEdit-main ol{
	list-style: inside;
}
.nicEdit-main ol li{
	list-style-type:decimal;
}
.nicEdit-main a{
	text-decoration:underline;
	color: #03C;
	cursor:pointer;
}
/*   Text Editor Style Ends   */


.adminbtn{
	border:solid 1px #BBB;
	background:#DDD;
	text-transform:uppercase;
	padding:3px 8px;
	border-radius:3px;
	font-size:12px;
	margin:0 5px;
	cursor:pointer;
}

.adminbtn:hover{
	background:#b4b4b4;
}

.adminbtn.active{
	background:#F88421;
	color:#fff;
	border-color: #F88421;
}

.empty_mail_field{
	width:98%;
	border:solid 1px #bbb;
	resize:none;
	padding:1%;
}
